<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>

    <!-- Conexión a la base de datos. -->
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/tpae-g05</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">root</property>
    <property name="connection.pool_size">1</property>
    
    <!-- Dialecto SQL. -->
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Estrategia para el "scoping" de la sesión actual. -->
    <property name="current_session_context_class">thread</property>

    <!-- Mostrar SQL generado. -->
    <property name="show_sql">true</property>

    <mapping class="ar.edu.utn.frsf.tpae.a2013.g05.model.Usuario" />
    <mapping class="ar.edu.utn.frsf.tpae.a2013.g05.model.Supervisor" />
    <mapping class="ar.edu.utn.frsf.tpae.a2013.g05.model.Empleado" />
    <mapping class="ar.edu.utn.frsf.tpae.a2013.g05.model.CentroDeCosto" />
    <mapping class="ar.edu.utn.frsf.tpae.a2013.g05.model.Gasto" />
    <mapping class="ar.edu.utn.frsf.tpae.a2013.g05.model.SolicitudDeGastos" />
    
    
	

  </session-factory>

</hibernate-configuration>